@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


.menu{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #E7E7E7;
    align-items: center;
    padding: 10px 80px;
    justify-content: space-between;
}

.btn{
    background-color: #FF7105;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.menuItem{
    display: flex;
    flex-direction: row;
    gap: 35px;

}
