@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


.section01 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    margin: 0px 80px;
    overflow: visible; /* Allow overflow for the parent container */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .containerFold01{
    display: flex;
    gap: 60px;
  }
  
  .containerMan {
    /* background-color: #FF7105; */
    width: 250px;
    height: 406px;
    border-radius: 40.25px;
    overflow: visible; /* Allow overflow */
    margin-left: 25px;
    margin-top: -10px;
  }
  
  .imageWrapper {
    width: 360px; /* Set the desired width for the image */
    overflow: visible; /* Allow overflow for the image */
    
  }

  .img01{
    width: 440px;
    display: block;
    margin: 40px auto  0px -80px;
  }

  .headlineDiv{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .headlineDiv p{
    color: #1E1E1E    ;
  }

  .headlineDiv h1{
    font-size: 45px;
    line-height: 110%;
    font-weight: 700;
  }
  
  .headlineDiv h1 span{
    color: #FF7105;
  }

  .btn{
    background-color: #FF7105;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }

  .containerSect{
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  .containerRect{
    width: 310px;
    background-color: #FBFBFE;
    padding: 60px 30px 17px 40px;
    border-radius: 9px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); /* Drop shadow with specified parameters */
}
  
.containerRect span{
    color: #FF7105;
    font-size: 20px;
    line-height: 110%;
    font-weight: 600;
}

.border {
    position: relative; /* Establish positioning context */
    width: 100%; /* Set the width */
    padding-bottom: 24px;
  }
  
  .border::after {
    content: ''; /* Create a pseudo-element for the border */
    position: absolute; /* Position the border */
    bottom: 0; /* Align the border to the bottom */
    left: 0; /* Align the border to the left */
    width: 100%; /* Set the width to fill the container */
    height: 1px; /* Set the height for the border */
    background: linear-gradient(to right, black 70%, #E7E7E7 70%); /* Linear gradient for the border */
  }
  
  .border::before {
    content: ''; /* Create a pseudo-element for the circle */
    position: absolute; /* Position the circle */
    bottom: -5px; /* Adjust position to be below the border */
    right: 72px; /* Adjust position to be at the end of the border */
    width: 10px; /* Set the width for the circle */
    height: 10px; /* Set the height for the circle */
    background: black; /* Background color for the circle */
    border-radius: 50%; /* Make the circle round */
  }

  .border2 {
    position: relative; /* Establish positioning context */
    width: 130%; /* Set the width */
    padding-bottom: 24px;
    margin-bottom: 8px;
  }
  
  .border2::after {
    content: ''; /* Create a pseudo-element for the border */
    position: absolute; /* Position the border */
    bottom: 0; /* Align the border to the bottom */
    left: 0; /* Align the border to the left */
    width: 100%; /* Set the width to fill the container */
    height: 1px; /* Set the height for the border */
    background: linear-gradient(to right, black 70%, transparent 70%); /* Linear gradient for the border */
  }
  
  .border2::before {
    content: ''; /* Create a pseudo-element for the circle */
    position: absolute; /* Position the circle */
    bottom: -5px; /* Adjust position to be below the border */
    right: 85px; /* Adjust position to be at the end of the border */
    width: 10px; /* Set the width for the circle */
    height: 10px; /* Set the height for the circle */
    background: black; /* Background color for the circle */
    border-radius: 50%; /* Make the circle round */
  }

  .percent{
    color: #A6A6A6;
    font-size: 24px;
    text-align: right;
    font-weight: 600;
  }
  
  .divider{
    border: 1px solid #E7E7E7;
  }

  .simbolContainer{
    display: flex;
    justify-content: right;
    margin-top: -100px;
    margin-bottom: 20px;

  }

  .simbolContainer2{
    display: flex;
    justify-content: left;
    margin-top: -100px;
    margin-bottom: 20px;
  }

  .simbolDiv{
    background-color: #FF7105;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .BtnMobile{
    display: none !important;
  }

  @media screen and (max-width:760px){
    .section01{
      flex-direction:column;
      margin: 50px 10px;
      height: 100%;
      gap: 30px;
    }

    .containerFold01 button {
      margin: auto;
      width: 80%;
      display: flex;
      justify-content: space-between;
    }

    .menu{
      display: none;
    }

    .containerSect{
      margin-top: 30px;
    }

    .headlineDiv h1{
      text-align: center;
      font-size: 31px;
      font-weight: 700;
    }

    .broker{
      text-align: center;
      font-size: 26px;
      font-weight: 600;
    }

    .headlineDiv{
      text-align: center;
    }

    .headlineDiv button{
      display: flex;
      justify-content: center;
      margin: auto;
      width: 80%;
    }

    .containerMan {
      margin: 0px;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    
    .imageWrapper {
      width: 100%; /* Set the desired width for the image */
      height: 100%;
    }

    .img01{
      width: 90%;
      display: flex;
      justify-content: center; 
      margin: 0px;
    }

    .containerFold01{
      display: flex;
      gap: 30px;
      flex-direction: column-reverse;
    }

    .subHeadline{
      font-size: 24px;
    }

    .BtnDesktop{
      display: none !important;
    }

    .BtnMobile{
      display: block !important;
    }
  }